<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
	<key>CFBundleIdentifier</key>
	<string>com.topfunky.PeepOpen.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PeepOpenHelp</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.5</string>
	<key>CFBundleSignature</key>
	<string>POHp</string>
	<key>CFBundleVersion</key>
	<string>0.2.5</string>
	<key>CFBundleHelpTOCFile</key>
	<string>index.html</string>
	<key>HPDBookAccessPath</key>
	<string>index.html</string>
	<key>HPDBookIconPath</key>
	<string>../Shared/helpbookicon.png</string>
	<key>HPDBookIndexPath</key>
	<string>PeepOpenHelp.helpindex</string>
	<key>HPDBookTitle</key>
	<string>PeepOpen Help</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
