<html>
  <head>
    <title>Release Notes</title>
    <style>
    * { font-family: "Lucida Grande", sans-serif;}
    body { margin: 0 0 1em 0; }
    h1 { 
      background-color: #eee; 
      padding: 5px 10px;
      font-size: 1em; }
    h1 span { font-weight: normal; font-size: 0.7em; padding-top: 1px; color: #aaa; float: right;}
    h2 { font-size: 1em; padding-left: 10px; }
    ul li { font-size: 0.9em; }
    </style>
  </head>
  <body>
    <%= release_notes_html %>
  </body>
</html>
