<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>3</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>input</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>~^@t</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Open File in PeepOpen</string>
			<key>output</key>
			<string>discard</string>
			<key>postprocess</key>
			<string>none</string>
			<key>preprocess</key>
			<string>none</string>
			<key>script</key>
			<string>open-file-in-peepopen.sh</string>
			<key>uuid</key>
			<string>8A8CDACF-6C0A-4E62-9E90-313EDA1B0229</string>
		</dict>
	</array>
</dict>
</plist>
